#about-section {
    margin-top: 100px;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#about-section div {
    width: 50%;
    padding: 40px;
    margin-left: 5%;
    font-size: 23px;
}

#iam {
    color: blueviolet;
}

#about-section img {
    border-radius: 100%;
    margin-top: 5%;
    border: 2px solid white;
}

#about-section a {
    text-decoration: none;
    padding: 20px;
    background-image: linear-gradient(to left, rgb(255, 0, 242), blueviolet);
    border-radius: 20%;
    color: white;
    margin: 40px;
}

#about-section a:hover {
    background-image: linear-gradient(to left, blueviolet, rgb(255, 0, 242));
}

@media(max-width:1200px) {
    #about-section {
        flex-direction: column;
        text-align: center;
    }

    #about-section div,
    #about-section img {
        width: 80%;
        margin: auto;
        padding: 10px;
        font-size: 20px;
    }

    #about-section img {
        margin-top: 20px;
        width: 50%;
    }
}

@media(max-width:600px) {
    #about-section img {
        width: 80%;
        margin-top: 20px;

    }

    #about-section a {
        margin: 20px;
    }
    #about-section div{
        font-size: 17px;
        padding: 0px;
    }
}